body {

    background-color: rgba(128, 128, 128, 0.3);
    color: rgb(0, 0, 0);
}

 

table {

    table-layout: auto;
    width: 100%;
    border: 3px solid rgb(255, 255, 255);
    border-collapse: collapse;
    overflow: auto;
}

 

td, th {

    border: 3px solid rgb(0, 0, 0);
    overflow: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 20px;
    font-weight: lighter;
}

 

td {
    font-weight: bolder;
    font-size: large;
}

 

td, button {

    margin-left: 550px;
    background-color: rgba(0, 255, 132, 0.300);
}

 