/*elmts generaux */
* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    height: 100%;
    }

@media screen and (max-width: 14in){
    body.zoom{
        zoom: 85%;
    }
}
@media screen and (max-width: 8in){
    
    #cetelem{
        display: none;
        visibility: hidden;

    }
    #logoOffice2{
        display: none;
        visibility: hidden;
    }
    
}

@media screen and (max-width: 9in){
    #logoOffice2{
        display: none;
        visibility: hidden;
    }   
}

h1{
    margin: 0;
    padding: 0;
    margin-left: 10px;
}
/*fin elmts generaux */

/*Menu */
#menu{
    margin:0px;
    background-color: forestgreen;
    display: flex;
    justify-content: center;
    align-items: center
    }

#logo{
    margin-left: auto;
}
/*fin menu */

#enregistrement{
    margin-top: 30px;
    margin-right: 5vw;
    margin-left: auto;
   
}
#enregistrement button{
    background-color: green;
    border-color: green;
  
    margin-left: 15px;
    color: white;
    border-radius: 10px;
    height: 40px;
    width: 150px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgreen;
    width: 100%;
    height: 80px;
    flex-shrink: 0;
    margin-top: 25vh;
}

#wizard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: 20px;
    text-decoration-color: rgb(214, 214, 214);
}
#wizard p{
    padding-left: 15px;
    color: rgb(46, 46, 28);
}

.credit{
    margin-right: 50px;
}



.credit p{
    margin: 3px;
    color: rgb(46, 46, 28);
}

/*barre de recherche*/
#searchbox{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
 
  
}

#query{
    height: 3em;
    width: 29em;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(156, 152, 152, 0.486);
    
}

#searchbox button{
    margin-left: 10px;
    background-color: green;
    border-color:green;
    border-radius: 10px;
    color: white;
    
}
/* Fin barre de recherche*/

/*tableau de topics */
#topics{
    margin:0px;
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    }

#menutableau{
    background-color: rgb(2, 105, 2);
    height: 5vh;
}
.C1{
    color: white;
}
.C2{
    color: white;
}
.C3{
    width: 9%;
    color: white;
}
.C4{
    width: 10%;
    color: white;
}
.C5{
    width: 7%;
    color: white;
}

.C6{
    width: 7%;
    color: white;
}

.cadre-table-scroll {
    display: block;
    overflow-y: scroll;
    text-align: center;
    background-color: rgb(255, 255, 255);
    max-height: 80vh;
    box-shadow: 5px 5px 5px rgba(156, 152, 152, 0.486);
    margin-bottom: auto;
    border-radius: 20px;
    border: 5px solid rgb(2, 105, 2);
  }
  
  .table-scroll thead th {
    position: sticky;
    top: 0;
    
  }
  .table-scroll tfoot td {
    position: sticky;
    bottom: 0;
  }

#trier{
    border: none;
    margin-left: 5px;
    background-color:white;
    
}

table{

    border-collapse: separate;
    border-spacing: 0;

    width: 90vw;
    
    table-layout: fixed;
    
  }
  
th, td{
    border: 1px solid rgb(2, 105, 2);
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    
    
}
tbody tr{
    margin-top: -5px;
    overflow: hidden;
}
/*Fin tableau de topics */

#formulaire{
    margin:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    flex-grow: 1;
    
    }

#formutop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*background-color: rgb(124, 197, 124);*/
    background-color: rgb(255, 255, 255);
    gap: 10px;
    padding: 20px;
    margin-left: 25px;
    width: 70vw;
    border-radius: 80px;
    border: solid green 7px;
    box-shadow: 5px 5px 5px rgba(156, 152, 152, 0.486);
    margin-right: 8px;
    
    }
    
input[type="submit"] {
    margin-top: 10px;
    }

#boutonform{
    margin-left: auto;
    margin-right: 40px;
}
#boutonform button{
    border-radius: 10px;
    height: 40px;
    width: 150px;
    background-color: green;
    margin-right: 16px;
    color: white;
}
#boutonform input{
    border-radius: 10px;
    height: 40px;
    width: 150px;
    background-color: green;
    color: white;

}

#boutonRetourSave{
    display: flex;
    justify-content: flex-end;
}
#h1form{
    display: flex;
    justify-content: center;
    padding-top: 14px;

}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

#formIntro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

#formIntro h1{
    margin: auto;
}

#logoOffice{
    margin-left: auto;
    width: 180px;
    margin-bottom: -13px;
    margin-top: -15px;
    margin-right: 27px;
    
}

.centerLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
#logoOffice2{
    margin-left: auto;
    width: 180px;
    margin-top: -75px;
    margin-bottom: 8px;
}

.form-group {
    display: flex;
    align-items: start;
    margin-bottom: 10px;
  }

.form-group label{
    width: 150px;
    text-align: left;
    padding-right: 10px;
    font-weight: bold;

}

.form-group input{
    flex: 1;
    padding: 5px;
    height: 25px;
    width: 30vw;
    border-radius: 5px;
}

.form-group textarea{
    flex: 1;
    padding: 5px;
    height: 100px;
    width: 30vw;
    border-radius: 5px;

}

.form-group select{
    flex: 1;
    padding: 5px;
    height: 35px;
    width: 30.5vw;
    border-radius: 5px;
}

#date-debut{
    width: 10vw;
}

#date-fin{
    width: 10vw;
}
a{
    text-decoration: none;
    color: black;
}

/* popup */

#overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #bebbbb;
    width: 100%;
    height: 135%;
    opacity: 0.8;
    z-index: 100;
    overflow: hidden; 
  }
  #popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    border: solid green;
    border-radius: 20px;
    width: 400px;
    height: 200px;
    margin-left: -200px; /*Half the value of width to center div*/
    margin-top: -100px; /*Half the value of height to center div*/
    z-index: 200;
  }
  #popupclose {
    float: right;
    padding: 10px;
    cursor: pointer;
  }
  .popupcontent {
    padding: 10px;
  }

  .popupButton{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .popupButton button{
    margin-top: 40px;
    height: 30px;
    width: 90px;
    border: solid green 1px;
    border-radius: 15px;
  }
  #button {
    cursor: pointer;
  }



tr:nth-child(odd){
    background-color: rgb(192, 206, 174);
}

tr:nth-child(even){
    background-color: white;
}